:host {
    display: block;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    margin-bottom: 0;
    margin-top: 0.83em;
}

.exImage {
    width: 100%;
    height: 70%;
    max-height: 400px;
    max-width: 350px;
    padding: 6px;
    background-color: #fbfbfb;
    box-shadow: 1px 2px 3px #9a9a9a;
}


.titleRow {
    width: 130px;
    padding: 4px;
    font-size: 9px;
}

.valueRow {
    font-size: 13px;
    width: 130px;
    padding: 4px;
    font-weight: bold;
}

.offerDetailsBox {
    display: inline-block;
    margin: 5px;
    background-color: #f1f1f1;
}


.pictureBg {
    text-align: center;
    width: 100%;
    height: 70%;
    padding: 5px 16px;
}

.descBox {
    font-size: 12px;
    padding: 7px;
    border: 1px solid #d6d6d6;
    background-color: #404040;
    color: white;
}

.offerDetails {
    text-align: center;
    padding: 25px 20px;
    background-color: white;
    max-width: 400px;
    margin: auto;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 8px #a5a5a5;
    border-radius: 5px;
}


.bgContent {
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 1000px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
    z-index: -2;
}


.exPic {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.exPicImg {
    opacity: 0.2;
    width: 120px;
}

.boxPanel {
    max-width: 500px;
    padding: 10px;
    background-color: white;
    margin: auto;
    height: 100%;
    opacity: 0.5;
}


.wantedTitle {
    font-weight: bold;
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 5px;
}
