<div class="pictureBg">


    <img src="assets/ex1.png" class="exImage" />
</div>


<div>

    <div class="descBox">

        <div>Dratini wih good IV, I loved it but I need a machollo so bad</div>

    </div>

    <div>

        <div>
            <div class="titleRow">      CP    </div> <div class="valueRow"> 1300 </div>
        </div>


        <div>
            <div class="titleRow"> Attack 1  </div> <div class="valueRow"> Ember </div>
        </div>

        <div>

            <div class="titleRow"> Attack 2  </div> <div class="valueRow"> Flamethrow </div>
        </div>

        <div>

            <div class="titleRow"> Type  </div> <div class="valueRow"> Fire </div>
        </div>

    </div>



</div>
