<div class="bgContent">
    <div class="boxPanel">
    </div>
</div>



<div class="pictureBg">


    <img src="assets/ex1.png" class="exImage" />
</div>


<div class="offerDetails">

    <div class="descBox">

        <div>Dratini wih good IV, I loved it but I need a machollo so bad</div>

    </div>

    <div>

        <div class="offerDetailsBox">
            <div class="valueRow"> 1300 </div>
            <div class="titleRow">      CP    </div> 
        </div>


        <div class="offerDetailsBox">
             <div class="valueRow"> Fire </div>
            <div class="titleRow"> Type  </div>
        </div>

        <br />
        <div class="offerDetailsBox">
            <div class="valueRow"> Ember </div>
            <div class="titleRow"> Attack 1  </div> 
        </div>

        <div class="offerDetailsBox">

            <div class="valueRow"> Flamethrow </div>
            <div class="titleRow"> Attack 2  </div> 
        </div>
    </div>



</div>


<div class="exPic">
    <img src="assets/exchangePic.png" class="exPicImg" />
</div>


<div class="offerDetails">
    <div class="wantedTitle">! WANTED !</div>

</div>
